body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    font-size: 24px!important;
    text-align: center;
    background: lightgray;
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 5px;
}

h2 {
    font-size: 16px;
    float: right;
    margin-top: 10px!important;
}


img {
    height: 80px;
    float: left;
    margin-top: 10px!important;
}

#a {
    margin-top: 50px;
}

#b {
    margin-top: 50px;
}

.info {
    float: left;
    margin-top: 50px;
}

span {
    width: 200px;
    display: inline-flex;
}

.student__info {
    padding: 10px 0;
}

